<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <bean id="duke"
          class="com.artiushenko.springTutorial.Juggler">
        <constructor-arg value="15"/>
    </bean>
    <bean id="audience"
          class="com.artiushenko.springTutorial.Audience"/>

    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="performance2" expression="execution(* com.artiushenko.springTutorial.interfaces.Performer.perform(..))"/>
            <!--Совет выполняемый и до и после-->
            <aop:around pointcut-ref="performance2" method="watchPerformance"/>
        </aop:aspect>
    </aop:config>
</beans>