<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <bean id="duke"
          class="com.artiushenko.springTutorial.Juggler">
        <constructor-arg value="15"/>
    </bean>
    <bean id="audience"
          class="com.artiushenko.springTutorial.Audience"/>

    <aop:config>
        <!--Ниже представлен единственный аспект с помощью элемента <aop:aspect>.
            Аттрибут ref ссылается на компонент POJO реализующий функциональность аспекта.
            Компонент, на который ссылается ref, определяет методы, вызываемые советами в аспекте
            <aop:before/>, <aop:after-returning/>, <aop:after-throwing/> это все определения советов. -->
        <aop:aspect ref="audience"> <!--Ссылка на компонент audience -->
            <!--<aop:pointcut id="performance ">-->
            <aop:before pointcut=
                                "execution(* com.artiushenko.springTutorial.interfaces.Performer.perform(..))"
                        method="takeSeats"/>            <!-- Перед выступлением -->
            <aop:before pointcut=
                                "execution(* com.artiushenko.springTutorial.interfaces.Performer.perform(..))"
                        method="turnOffCellPhones" />            <!-- Перед выступлением -->
            <aop:after-returning pointcut=
                                         "execution(* com.artiushenko.springTutorial.interfaces.Performer.perform(..))"
                                 method="applaud" />            <!-- После выступления -->
            <aop:after-throwing pointcut=
                                        "execution(* com.artiushenko.springTutorial.interfaces.Performer.perform(..))"
                                method="demandRefund" />            <!-- После неудачного выступления -->
            <!--pointcut это срез множества точек сопряжения-->
        </aop:aspect>
    </aop:config>
</beans>